.header{
    display: flex;
    justify-content: space-between;
}

.logoimg{
    /* height: 100px; */
    width: 100px;
}

.nav-items>ul{
    display: flex;
    list-style-type:none;
}

.nav-items>ul>li{
    margin: 10px;
    padding: 10px;
     
}

.search{
    padding: 10px;
}
.res-img{
    padding: 5px;
    width:190px;
    height: 150px;
}
.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    margin: 0 40px;
  }
  
  .res-card {
    background-color:darkgrey;
    width: 200px;
    padding: 5px;
    border: 1px solid transparent;
  }
  
  .res-card:hover {
    border: 1px solid black;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }